/* .dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}
.card-img-top{
    width: 200px;
    height: 200px;
    cursor: pointer;
}


h4{
    margin-bottom: 3px;
} */


.backCustom {
    background-color: #202C45;
    /* width: 200px; */
    height: 250px;
}

.text {
    color: white;
    font-size: 70px;
    padding: 40px;
}
.pageicon {
    color: white;
    margin-bottom: 22px;
}